{
  "vmware": {
    "host": "vcenter.example.com",
    "user": "administrator@vsphere.local", 
    "password": "your-password-here",
    "port": 443,
    "disable_ssl": true
  },
  "vms": [
    {
      "name": "vm-master-0",
      "vcenter_host": "vcenter.example.com",
      "vcenter_user": "administrator@vsphere.local",
      "vcenter_password": "your-password-here",
      "redfish_port": 8443,
      "redfish_user": "admin",
      "redfish_password": "password",
      "disable_ssl": true
    },
    {
      "name": "vm-master-1",
      "vcenter_host": "vcenter.example.com", 
      "vcenter_user": "administrator@vsphere.local",
      "vcenter_password": "your-password-here",
      "redfish_port": 8444,
      "redfish_user": "admin",
      "redfish_password": "password",
      "disable_ssl": true
    },
    {
      "name": "vm-worker-0",
      "vcenter_host": "vcenter.example.com",
      "vcenter_user": "administrator@vsphere.local",
      "vcenter_password": "your-password-here",
      "redfish_port": 8445,
      "redfish_user": "admin",
      "redfish_password": "password",
      "disable_ssl": true
    }
  ]
}
